.App {

  font-family: Rockwell Condensed;
  font-weight: bolder;
  color:antiquewhite;

}

.user-input{
text-align: center;
font-size: 40px;
}


button{
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
}

.user-input input{
  padding: 10px;

}
html{
  background-color: rgb(156, 15, 15);
}

.stats{
  text-align: center;
  font-size: 40px;
  padding-top: 25px;
  border: 4px solid;
}