.App {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:antiquewhite;

}

html{
  background-color: brown;
}

.stats{
  text-align: center;
  font-size: x-large;
  padding-top: 300px;
}