.App {

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:antiquewhite;

}

.user-input{
text-align: center;
font-size: 45px;
}


.user-input input{
  
}
html{
  background-color: brown;
}

.stats{
  text-align: center;
  font-size: 45px;
  padding-top: 150px;
}